<div class="head-title">
    <h1>Autenticazione</h1>
</div>
<br>
<br>
<form class="form-inline">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" ng-model="username" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" ng-model="password" id="password">
    </div>
    <button type="submit" class="btn btn-default" ng-click="login()">Login</button>
    <button type="submit" class="btn btn-default" ng-click="logout()">Loguot</button>
    <br>
    <br>
    Stato Login : {{ statusLogin }}
    <br>
    <button type="submit" class="btn btn-default" ng-click="testLogin()">Test Login</button>
</form>