<div class="head-title">
    <h1>Localizzazione</h1>
</div>
<br>
<h3>Linguaggio Corrente: {{ currentLang }}</h3>
<h3>Data: {{ dataOdierna  | date : "fullDate"}}</h3>
<h3>Moneta: {{ moneta | currency }}</h3>

<h2>{{ 'HEADLINE' | translate }}</h2>
<h2>{{ 'INTRO_TEXT' | translate }}</h2>

<h2>{{ customLanguage.titolo }}</h2>

<button type="button" class="btn btn-default" ng-click="switchLang('it')" aria-label="Left Align">
    Italiano
</button>

<button type="button" class="btn btn-default" ng-click="switchLang('en')" aria-label="Left Align">
    Inglese
</button>

<button type="button" class="btn btn-default" ng-click="switchLang('de')" aria-label="Left Align">
    Tedesco
</button>