<div class="head-title">
    <h1>Crea un nuovo contatto</h1>
</div>

<form name="contattoForm" role="form" class="form-horizontal lefted-element">
    <div class="form-group">

        <label for="nome" class="col-sm-2 control-label">Nome</label>

        <div class="col-sm-7">
            <input id="nome" type="text" class="form-control" name="nome"
                   data-ng-model="contatto.nome"
                   placeholder="Inserisci il nome" />
        </div>
    </div>

    <div class="form-group">

        <label for="cognome" class="col-sm-2 control-label">Cognome</label>

        <div class="col-sm-7">
            <input id="cognome" type="text" class="form-control" name="cognome"
                   data-ng-model="contatto.cognome"
                   placeholder="Inserisci il cognome" />

        </div>
    </div>

    <div class="form-group">

        <label for="contatto-completamento" class="col-sm-2 control-label">Percentuale completamento</label>

        <div class="col-sm-7">
            <input type="range" class="form-control" name="completamento"
                   data-ng-model="contatto.completamento"
                   placeholder="Inserisci la perc completamento" min="0" max="100" />

        </div>
    </div>

    <div class="form-group">

        <label for="tipo" class="col-sm-2 control-label">Tipo</label>

        <div class="col-sm-7">
            <select id="tipo" class="form-control" name="tipo"
                    data-ng-model="contatto.tipo"
                    data-ng-options="item as item for item in tipiContatto">
                <option value="">Selezionare un tipo</option>
            </select>
            </div>
    </div>

    <div class="form-group">

        <label for="telefono" class="col-sm-2 control-label">Telefono</label>

        <div class="col-sm-7">
            <input id="telefono" type="text" class="form-control" name="telefono"
                   data-ng-model="contatto.telefono"
                   placeholder="Inserisci il telefono" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" data-ng-click="createContatto()"
                    data-ng-disabled="isUnchanged(scheda)">Salva</button>
            <button class="btn btn-secondary" data-ng-click="cancel()">Annulla</button>
        </div>
    </div>
    <div data-ng-show="showSuccess" class="alert alert-success" role="alert">Creazione avvenuta con successo</div>
    <div data-ng-show="showDanger" class="alert alert-danger" role="alert">Creazione non riuscito</div>
</form>