<div class="head-title">
    <h1>Crea un nuovo contatto</h1>
</div>

<form name="contattoForm" role="form" class="form-horizontal lefted-element" novalidate>
    <div class="form-group"
         ng-class="{ 'has-error' : contattoForm.nome.$invalid && !contattoForm.nome.$pristine }">

        <label for="contatto-nome" class="col-sm-2 control-label">Nome *</label>

        <div class="col-sm-7">
            <input type="text" class="form-control" name="nome"
                   ng-model="contatto.nome"
                   required
                   id="contatto-nome"
                   placeholder="Inserisci il nome" />

            <p  ng-show="contattoForm.nome.$invalid && !contattoForm.nome.$pristine"
                class="help-block">Nome obbligatorio</p>
        </div>
    </div>

    <div class="form-group"
         ng-class="{ 'has-error' : contattoForm.cognome.$invalid && !contattoForm.cognome.$pristine }">

        <label for="contatto-cognome" class="col-sm-2 control-label">Cognome *</label>

        <div class="col-sm-7">
            <input type="text" class="form-control" name="cognome"
                   ng-model="contatto.cognome"
                   required
                   id="contatto-cognome"
                   placeholder="Inserisci il cognome" />

            <p  ng-show="contattoForm.cognome.$invalid && !contattoForm.cognome.$pristine"
                class="help-block">Cognome obbligatorio</p>
        </div>
    </div>

    <div class="form-group"
         ng-class="{ 'has-error' : contattoForm.telefono.$invalid && !contattoForm.telefono.$pristine }">

        <label for="contatto-telefono" class="col-sm-2 control-label">Telefono *</label>

        <div class="col-sm-7">
            <input type="text" class="form-control" name="telefono"
                   ng-model="contatto.telefono"
                   required
                   id="contatto-telefono"
                   placeholder="Inserisci il telefono" />

            <p  ng-show="contattoForm.telefono.$invalid && !contattoForm.telefono.$pristine"
                class="help-block">Telefono obbligatorio</p>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" ng-click="createContatto()"
                    ng-disabled="contattoForm.$invalid || isUnchanged(scheda)">Salva</button>
            <button class="btn btn-secondary" ng-click="cancel()">Annulla</button>
        </div>
    </div>

</form>